{% extends "layout.html" %}


{% block title %}
    Registration page
{% endblock %}

{% block body %}
<form action="/register" method="POST">
  <div class="form-group">
    <label for="exampleInputUsername">Username</label>
    <input type="text" class="form-control" placeholder="Enter desired username" name="new_username">
    <small class="form-text text-muted">Your username must be unique, like you! :)</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" placeholder="Enter desired password" name="new_password">
      <small class="form-text text-muted">Your password should be keep secret - we promise that!</small>

  </div>

  <button type="submit" class="btn btn-info">Submit</button>
</form>
{% endblock %}
